#logInInput {
    border-color: #969696;
    margin: 15px;
}

.BottomSpacer {
    min-height: 15px;
    background-color: #845EC2;
}

.InputContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: -35px;
}

.InputWrapper {
    justify-content: center;
    border-radius: 10px;
    box-shadow: grey 0px 0px 7px;
    overflow: hidden;
    width: fit-content;
    background-color: white;

}