.WelcomeContent {
    display: flex;
    justify-content: center;
}

.WelcomeLogo {
    max-width: 150px;
}

.WelcomDisplayContainer {
    background-color: #FFC75F;
    padding-top: 25px;
    padding-bottom: 75px;
    color: white;
}