.SubmitButton {
    max-width: 25px;
    max-height: 25px;
}

.SubmitButton:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 1px grey);
}

.KeyboardIcon {
    max-width: 20px;
    max-height: 20px;
}

.InputField {
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-right-style: hidden;
    outline: none;
    margin-left: 3px;
    background-color: #EFEFEF;
}

.AppTextInputContainer {
    border-style: solid;
    border-radius: 20px;
    display: flex;
    align-content: center;
    max-width: fit-content;
    padding: 3px;
    background-color: #EFEFEF;
    
    
}