.TranslationPageContainer {
    background-color: #FFC75F;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#traslationInput {
    border-color: white;
}
