.AppHeader {
    background-color: #FFC75F;
    border-bottom: 3px solid #E7B355;
    display: flex;
    align-content: center;
}

.HeaderContent {
    margin-left: 75px;
    color: white;
    display: flex;
    align-content: center;
}

.UserIcon {
    max-width: 50px;
    max-height: 50px;
    align-self: center;
    
}

.ProfileName {
    align-self: center;
}

.ProfileContainer {
    margin-right: 40px;
    margin-left: auto;
    display: flex;
    align-content: center;
    color: white;
}

.ProfileContainer:hover {
    cursor: pointer;
}