.BottomSpacer {
    min-height: 15px;
    background-color: #845EC2;
}

.TranslationDisplayContainer {
    border-radius: 10px;
    box-shadow: grey 0px 0px 7px;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
}

.Signs {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    margin: 3px;
    list-style: none;
}

.SignImage {
    max-width: 40px;
}
